:root {
  --primary1: #A33513;
  --primary2: #50735F;
  --primary3: #BA821F;
  --secondary1: #BFB18A;
  --base1: #373737;
  --base2: #6B6B6B;
  --base3: #F2F2F2;
}

html {
  overflow-x: hidden;
}

body {
  background-color: var(--base1);
  margin: 0;
  overflow-x: hidden;
  position: relative;
}

@font-face {
    font-family: 'american_captainregular';
    src: url('american_captain-webfont.woff2') format('woff2'),
         url('american_captain-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.contact-page-section {
  background-color: var(--base1);
}

.contact-logo-div {
  align-items: center;
  background-color: var(--primary1);
  display: flex;
  justify-content: center;
  margin: 5em 1em 3em;
}

.contact-logo {
  height: auto;
  width: 11em;
}
